@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - User_Management</title>
       <link rel="stylesheet" href="~/dist/css/tabler.min.css"  asp-append-version="true"/>
       <link rel="stylesheet" href="~/dist/css/tabler-flags.min.css"  asp-append-version="true"/>
       <link rel="stylesheet" href="~/dist/css/tabler-payments.min.css"  asp-append-version="true"/>
       <link rel="stylesheet" href="~/dist/css/tabler-vendors.min.css" asp-append-version="true"/>
       
    <link rel="stylesheet" href="~/css/site.css" />
</head>
  <body class="antialiased">
    <div class="wrapper">

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">User_Management</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @{
                        if (SignInManager.IsSignedIn(User))
                        {
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                                </li>

                            </ul>
                            <ul class="navbar-nav d-flex justify-content-end">
                                <li class="nav-item ">
                                    <a class="btn btn-danger" asp-area="User" asp-controller="Account" asp-action="Logout" onclick="return ConfirmLogout()">Logout</a>
                                </li>
                            </ul>
                        }
                        else
                        {
                            <ul class="navbar-nav d-flex justify-content-end flex-grow-1">
                                <li class="nav-item">
                                    <a asp-area="User" asp-controller="Account" asp-action="Login" class="btn btn-primary">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="User" asp-controller="Account" asp-action="Register" class="btn">Register</a>
                                </li>

                            </ul>
                        }
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - User_Management - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        function ConfirmLogout() {
            return confirm("Are you sure to Logout?");
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
