{
  "ConnectionStrings": {
    "DefaultConnectionString": "server=localhost;database=User_Management;user=root;"
  },
  "Google": {
    "ClientId": "",
    "ClientSecret": ""
  },
  "Twitter": {
    "ClientId": "",
    "ClientSecret": ""
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "AllowedHosts": "*"
}
